/* .dt-button.buttons-copy,.dt-button.buttons-csv,.dt-button.buttons-excel,.dt-button.buttons-pdf,.dt-button.buttons-print {
    
    color: white;
    background-color: dodgerblue;
}

.dt-button.buttons-copy:hover:not(.disabled),.dt-button.buttons-csv:hover:not(.disabled),.dt-button.buttons-excel:hover:not(.disabled),.dt-button.buttons-pdf:hover:not(.disabled),.dt-button.buttons-print:hover:not(.disabled){
    background-color: royalblue;
    border: 1px solid #666;
} */

.dt-button.buttons-html5{
    background-color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    
    
}
.dt-button.buttons-print {
    background-color: white;
    border: none;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;

}